.gamezone > ul > li:after {
  content: '';
  background-image: url('/assets/image/game-zone/gamezone_gloss.png');
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 10;
}

.gamezone div:hover span {
  background: rgba(255, 215, 0, 0.7);
}

.gamezone span {
  display: block;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}
.gamezone li:hover span {
  background: rgba(255, 215, 0, 0.7);
}
