.header-text span:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px #ffffff;
  cursor: pointer;
}

.sitemenu > li:nth-child(1) {
  width: 120px;
  background-position: 0px 0px;
}

.sitemenu > li:nth-child(2) {
  width: 124px;
  background-position: -120px 0px;
}

.sitemenu > li:nth-child(3) {
  width: 136px;
  background-position: -244px 0px;
}

.sitemenu > li:nth-child(4) {
  width: 122px;
  background-position: -380px 0px;
}

.sitemenu > li:nth-child(5) {
  width: 157px;
  background-position: -502px 0px;
}

.sitemenu > li:nth-child(6) {
  width: 138px;
  background-position: -659px 0px;
}

.sitemenu > li:nth-child(7) {
  width: 127px;
  background-position: -797px 0px;
}

.sitemenu > li:nth-child(1) p {
  background-position: 0px bottom;
}

.sitemenu > li:nth-child(2) p {
  background-position: -120px bottom;
}

.sitemenu > li:nth-child(3) p {
  background-position: -244px bottom;
}

.sitemenu > li:nth-child(4) p {
  background-position: -380px bottom;
}

.sitemenu > li:nth-child(5) p {
  background-position: -502px bottom;
}

.sitemenu > li:nth-child(6) p {
  background-position: -659px bottom;
}

.sitemenu > li:nth-child(7) p {
  background-position: -797px bottom;
}

.sitemenu > li:hover > p {
  opacity: 1;
}

.sitemenu > li:hover > ul {
  opacity: 1;
}
.header-mobile {
  background: linear-gradient(180deg, #36261a 0%, #322318 8.5%, #060504 100%),
    radial-gradient(
      52.69% 43.6% at 25.26% -12.79%,
      #f99850 0%,
      rgba(54, 38, 26, 0) 100%
    );
  box-shadow: 0px 2px 8.9px 1px #000000;
}
