.moneymenu > ul > li {
  height: 100px;
  float: left;
  position: relative;
}
.moneymenu ul li:nth-child(1) {
  width: 233px;
}

.moneymenu ul li:nth-child(2) {
  width: 203px;
}

.moneymenu ul li:nth-child(3) {
  width: 237px;
}

.moneymenu ul li:nth-child(4) {
  width: 218px;
}

.moneymenu ul li:nth-child(5) {
  width: 309px;
}

.moneymenu ul li:nth-child(6) {
  width: 283px;
}

.moneymenu ul li:nth-child(1) p {
  background-position: 58px -280px;
}

.moneymenu ul li:nth-child(2) p {
  background-position: -31px -280px;
}

.moneymenu ul li:nth-child(3) p {
  background-position: -92px -280px;
}

.moneymenu ul li:nth-child(4) p {
  background-position: -156px -280px;
}

.moneymenu ul li:nth-child(5) p {
  background-position: -219px -280px;
}

.moneymenu ul li:nth-child(6) p {
  background-position: 37px -277px;
}

.moneymenu > ul > li:hover > p {
  background-color: #8e602d;
  transition: all ease 1.5s;
}

.moneymenu > ul > li:nth-child(1):hover > p {
  background-position: 58px 20px;
}

.moneymenu > ul > li:nth-child(2):hover > p {
  background-position: -31px 20px;
}

.moneymenu > ul > li:nth-child(3):hover > p {
  background-position: -92px 20px;
}

.moneymenu > ul > li:nth-child(4):hover > p {
  background-position: -156px 20px;
}

.moneymenu > ul > li:nth-child(5):hover > p {
  background-position: -219px 20px;
}
.moneymenu > ul > li:nth-child(6):hover > p {
  background-position: 37px 20px;
}

.moneymenu > ul > li > p:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url('/assets/image/money/moneymenu.png');
}

.moneymenu ul li:nth-child(1) p:before {
  background-position: 0px 0px;
}

.moneymenu ul li:nth-child(2) p:before {
  background-position: -233px 0px;
}

.moneymenu ul li:nth-child(3) p:before {
  background-position: -436px 0px;
}

.moneymenu ul li:nth-child(4) p:before {
  background-position: -673px 0px;
}

.moneymenu ul li:nth-child(5) p:before {
  background-position: -891px 0px;
}
.moneymenu ul li:nth-child(6) p:before {
  background-position: -879px 0px;
}
.moneymenu > ul > li > p:after {
  content: '';
  height: 100px;
  display: block;
  background-image: url('/assets/image/money/moneymenu.png');
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: all ease 0.2s;
}

.moneymenu > ul > li:nth-child(1) > p:after {
  background-position: 0px -100px;
}

.moneymenu > ul > li:nth-child(2) > p:after {
  background-position: -233px -100px;
}

.moneymenu > ul > li:nth-child(3) > p:after {
  background-position: -436px -100px;
}

.moneymenu ul li:nth-child(4) p:after {
  background-position: -673px -100px;
}

.moneymenu ul li:nth-child(5) p:after {
  background-position: -891px -100px;
}

.moneymenu ul li:nth-child(6) p:after {
  background-position: -879px -100px;
}

@keyframes moneymenu-ani {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.moneymenu > ul > li:hover > p:after {
  opacity: 1;
  animation: moneymenu-ani infinite alternate 0.5s;
}
